html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;  
  font-family: "Montserrat", sans-serif; 
 
}
h1,h3,h4,p {
  color: black;
}


#lineIndex img {
  width: 200px;
  height: 300px;  
  border: 8px solid #FF914D;
  cursor: url(../img/mouseOver_p.png), auto;
}

#lineOne img {
  width: 250px;
  height: 175px;
  border: 8px solid #FF914D;
  cursor: url(../img/mouseOver_p.png), auto;
}

#lineTwo img {
  width: 175px;
  height: 250px;
  border: 8px solid #FF914D;
  cursor: url(../img/mouseOver_p.png), auto;
}

/* .cursor {
  width: 20px;
  height: 20px;
  border:1px solid black;
  position: absolute;
  transition-duration: 200ms;
  transition-timing-function: ease-out; 
  animation: cursor;
} */


/* container {
  background-color: aqua;
  border-style: solid;
  border-radius: 5px;
  max-width: 500px;
} */
