html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;  
  font-family: "Montserrat", sans-serif; 
 
}
h1,h3,h4,p {
  color: black;
}
h2 {
  color:#FF914D;
  font-weight: bold;
}


#lineIndex img {
  width: 200px;
  height: 300px;  
  border: 8px solid #FF914D;
  cursor: url(../img/mouseOver_p.png), auto;
}

#lineOne img {
  width: 250px;
  height: 175px;
  border: 8px solid #FF914D;
  cursor: url(../img/mouseOver_p.png), auto;
}

#lineTwo img {
  width: 175px;
  height: 250px;
  border: 8px solid #FF914D;
  cursor: url(../img/mouseOver_p.png), auto;
}

#jumbotron_message{
  background-image: url("../img/index_01.jpg");  
  background-size: contain;  
  background-blend-mode:overlay;
}

#question{
  background-color: #FF914D;
}

#answerMessage{
  background-color: #FF914D;
}

.scrollable-questions{
  height:325px;
  overflow-y: scroll;  
}

.scrollable-answers{
  height:375px;
  overflow-y: scroll;
  
}